.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 32px 160px;
  gap: 28px;
  position: relative;
  height: 100vh; 
  width: 100%;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 72px;
  gap: 14px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: auto; 
  width: 100%;
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 100%;
}

.restart-btn {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.result-icon {
  width: 36px;
  height: 36px;
  display: block;
}

@media (min-width: 1024px) {
  .result-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 100vh; 
    width: 100vw;
    gap: 14px; 
  }

  .result-icon {
    width: 36px;
    height: 36px;
    display: block;
  }

  .result-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    font-size: 1rem;
    gap: 8px;
    height: auto;
    margin-left: 430px;
    margin-right: 430px;
  }

  .result-container h1{
    font-size: 24px;
  }

  .result-content {
    font-size: 1rem;
    word-break: break-word;
    overflow-wrap: break-word;
    gap: 8px;
  }

  .restart-btn {
    white-space: nowrap;
  }

  img {
    max-height: 100%;
    width: auto;
  }
}

